:root {
    --main_color: #009357;
    --sub_color: #424242;
    --black_color: #333333;
    --white_color: #ffffff;
    --gray_color: #dddddd;
    --light_color: #f9f9f9;
}

* {
    color: var(--black_color);
    border: 1px solid palevioletred--;
}

/* --------#header-------- */

#header {
    line-height: 90px;

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: var(--white_color);

    z-index: 9999;
}

#header .inner {
    display: flex;
    justify-content: space-between;
}

/* --------#header 메뉴-------- */

#header .gnb>ul {
    display: flex;
    gap: 46px;
}

#header .gnb>ul>li>a {
    font-size: 18px;
    font-weight: 500;
}

#header .sub_gnb {
    display: flex;
    gap: 14px;
    align-items: center;
    line-height: 1;
}

#header .side_menu {
    display: flex;
    gap: 10px;
}

#header .side_menu>a {
    font-size: 16px;
}

#header .icon_menu {
    display: flex;
    gap: 6px;
}

#header .icon_menu span {
    font-size: 20px;
}

#header .mopen {
    display: none;
}


/* --------#content-------- */

/* --------#main_slide-------- */

.main_slide .main_slide_wrap {
    position: relative;
}

.main_slide .main_slide_wrap img {
    max-width: 100%;
    width: 100%;
    height: 480px;
}

.main_slide .search_area {
    position: absolute;
    display: flex;

    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    height: 50px;
}

.main_slide .search_select {
    position: relative;
    padding: 0 22px 0 18px;
    border: none;
    color: var(--white_color);
    font-size: 16px;
    font-weight: 500;
    /* background: var(--main_color); */
    height: 50px;
    border: 5px solid var(--main_color);

    appearance: none;
    background: var(--main_color) url(../images/search.png) no-repeat 84px center/12px;
}

.main_slide .search_select option {
    background: var(--white_color);
    color: var(--black_color);
}


.main_slide .search_select:focus {
    outline: none;
}

.main_slide .typo {
    position: relative;
    padding: 0 20px;
    outline: none;
    border: none;
    width: 400px;
    font-size: 14px;
    border: 5px solid var(--main_color);
}

.main_slide .button {
    position: relative;

    border: none;
    color: var(--white_color);
    background: var(--main_color);
    padding: 0 20px;
    font-size: 14px;
}

.main_slide .slide_btn_box {
    position: absolute;
    bottom: -80%;
    right: -5px;
    z-index: 999;
    display: flex;
    gap: 8px;
}

.main_slide .slide_btn_box a {
    padding: 12px 20px;
    background: var(--sub_color);
    color: var(--white_color);
    font-size: 14px;
    text-align: center;
}

/* --------#main_link-------- */

.main_link .link_box {
    position: relative;
    display: flex;

    /* align-items: flex-end; */
    margin: -36px auto 0 auto;
    z-index: 999;
}

.main_link .link_box>* {
    flex: 1;
}

.main_link .link_box a {
    display: block;
    text-align: center;
    padding: 30px 0;
    background: var(--main_color);
}

.main_link .link_box a:not(:last-child) {
    border-right: 1px solid var(--gray_color);
}

.main_link .link_box .link_first {
    background: var(--sub_color);
}

.main_link .link_box a strong {
    color: var(--white_color);
    font-size: 16px;
    font-weight: 500;
}

/* --------#main_info-------- */
.main_info {
    padding: 80px 0;
}

.main_info .info_wrap {
    display: flex;
    gap: 40px;
}

.main_info .info_wrap>* {
    flex: 1;
    overflow: hidden;
}

/* --------#main_info 왼쪽테이블-------- */

.main_info .info_table .tit_box {
    display: flex;
    align-items: flex-end;
    margin: 0 0 16px 0;
}

.main_info .info_table .tit_box strong {
    display: block;
    font-size: 22px;
    font-weight: 600;
    margin: 0 8px 0 0;
}

.main_info .info_table .tit_box span {
    display: block;
    color: var(--sub_color);
    font-size: 14px;
}

.main_info .info_table .add_box {
    margin: 0 0 0 auto;
}

.main_info .info_table .add_box span {
    display: block;
    padding: 2px;
    border-radius: 50%;
    color: var(--sub_color);
    border: 1px solid var(--sub_color);
    font-size: 18px;
}

.main_info .info_table .info_btn_box {
    display: flex;
    gap: 8px;
    margin: 0 0 16px 0;
}

.main_info .info_table .info_btn_box>* {
    flex: 1;
}

.main_info .info_table .info_btn_box a {
    display: block;
    padding: 14px 0;
    background: #d9d9d9;
    color: var(--black_color);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.main_info .info_table .info_btn_box .info_btn.on a {
    background: var(--sub_color);
    color: var(--white_color);
}

/* --------#main_info 왼쪽테이블 탭 콘텐트-------- */

.main_info .info_table .info_table_wrap {
    overflow-x: auto;
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
}

.main_info .info_table .info_left_table caption {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0);
    margin: -1px;
    overflow: hidden;
}

.main_info .info_table .info_left_table {
    width: 100%;
    border-collapse: collapse;
}

.main_info .info_table .info_left_table .info_table_tit th {
    font-size: 15px;
    font-weight: 500;
    background: var(--light_color);
}

.main_info .info_table .info_left_table td {
    border-bottom: 1px solid var(--gray_color);
    padding: 12px 24px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.main_info .info_table .info_left_table td:not(:last-child) {
    border-right: 1px solid var(--gray_color);
}

.main_info .info_table .info_left_table th {
    height: 40px;
    border-bottom: 1px solid var(--gray_color);
    padding: 0 24px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

.main_info .info_table .info_left_table td~td {
    border-left: 1px solid var(--gray_color);
}

.main_info .info_table .info_left_table th~th {
    border-left: 1px solid var(--gray_color);
}



/* --------#main_info 중간공지사항-------- */

.main_info .info_notice .tit_box {
    display: flex;
    border-bottom: 1px solid #ababab;
    padding: 0 0 16px 0;
}

.main_info .info_notice .tit_box strong {
    display: block;
    font-size: 22px;
    font-weight: 600;
}

.main_info .info_notice .tit_box .add_box {
    margin: 0 0 0 auto;
}

.main_info .info_notice .tit_box .add_box span {
    display: block;
    padding: 2px;
    border-radius: 50%;
    color: var(--sub_color);
    border: 1px solid var(--sub_color);
    font-size: 18px;
}

.main_info .info_notice .list {
    padding: 8px 0;
    border-bottom: 1px solid #ababab;
}

.main_info .info_notice .list li {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.main_info .info_notice .list li:not(:last-child) {
    border-bottom: 1px dotted var(--gray_color);
}

.main_info .info_notice .list li span {
    display: block;
    font-size: 16px;
    color: var(--sc);
    width: 280px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main_info .info_notice .list li p {
    font-size: 15px;
    color: #a7a7a7;
}

/* --------#main_info 오른쪽 도서관일정-------- */

.main_info .info_plan {}

.main_info .info_plan .tit_box {
    display: flex;
    border-bottom: 1px solid #ababab;
    padding: 0 0 16px 0;
}

.main_info .info_plan .tit_box strong {
    display: block;
    font-size: 22px;
    font-weight: 600;
}

.main_info .info_plan .tit_box .add_box {
    margin: 0 0 0 auto;
}

.main_info .info_plan .tit_box .add_box span {
    display: block;
    padding: 2px;
    border-radius: 50%;
    color: var(--sub_color);
    border: 1px solid var(--sub_color);
    font-size: 18px;
}

.main_info .info_plan .list {
    padding: 8px 0;
    border-bottom: 1px solid #ababab;
}

.main_info .info_plan .list li {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
}

.main_info .info_plan .list li:not(:last-child) {
    border-bottom: 1px dotted var(--gray_color);
}

.main_info .info_plan .list li span {
    display: block;
    font-size: 16px;
    color: var(--sc);
    width: 280px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.main_info .info_plan .list li p {
    font-size: 15px;
    color: #a7a7a7;
}

/* --------#main_best-------- */

.main_best {
    padding: 80px 0;
    background: var(--light_color);
}

.main_best .inner {
    position: relative;

    display: flex;
    gap: 40px;
}

.main_best .best_seller {
    flex: 2;
    overflow: hidden;
}

.main_best .best_seller .tit_box {
    margin: 0 0 16px 0;
}

.main_best .best_seller .tit_box strong {
    display: block;
    font-size: 22px;
    font-weight: 600;
}

.main_best .best_seller .main_best_slide {
    /* position: relative; */
}

.main_best .best_seller img {
    border: 1px solid var(--gray_color);
    margin: 0 0 14px 0;
    height: 288px;
    object-fit: cover;
}

.main_best .best_seller .content span {
    display: block;
    font-size: 16px;
    text-align: center;
    color: var(--sub_color);
}

.main_best .best_seller .slide_btn {
    position: absolute;
    max-width: 880px;
    width: 100%;
    left: 0;
    top: 50%;

    z-index: 999;

    transform: translate(0, -50%);
    cursor: pointer;
}

.main_best .best_seller .swiper-button-nn {
    position: absolute;
    right: 18px;
    z-index: 999;
}

.main_best .best_seller .swiper-button-nn span {
    font-size: 20px;
    padding: 6px;
    color: var(--white_color);
    background: rgba(0, 0, 0, 0.5);
    /* border: 1px solid var(--gray_color); */
}

.main_best .best_seller .swiper-button-pp {
    position: absolute;
    left: 0;
    z-index: 999;
}

.main_best .best_seller .swiper-button-pp span {
    font-size: 20px;
    padding: 6px;
    color: var(--white_color);
    background: rgba(0, 0, 0, 0.5);
    /* border: 1px solid var(--gray_color); */
}

.main_best .best_info {
    flex: 1;
}

.main_best .best_info .itm {
    height: 168px;
    padding: 36px 0 0 46px;
    border: 1px solid var(--gray_color);
}

.main_best .best_info .itm01 {
    margin: 0 0 18px 0;
    background: url(../images/main_list09.jpg) no-repeat center bottom/cover;
}

.main_best .best_info .itm02 {
    background: url(../images/main_list10.jpg) no-repeat center bottom/cover;
}

.main_best .best_info .itm_txt_box .itm_tit {
    margin: 0 0 10px 0;
}

.main_best .best_info .itm_txt_box strong {
    display: block;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.main_best .best_info .itm_txt_box span {
    color: var(--main_color);
}

.main_best .best_info .itm_txt_box p {
    display: block;
    font-size: 15px;
    color: var(--sub_color);
    line-height: 1.4;
}

/* --------#footer-------- */

#footer {}

.footer_top {
    padding: 20px 0;
    background: var(--main_color);
}

.footer_top ul {
    display: flex;
}

.footer_top ul>li {
    flex: 1;
}

.footer_top ul>li>a {
    display: block;
    color: var(--white_color);
    text-align: center;
}

.footer_bottom {
    padding: 46px 0 60px 0;
    background: var(--sub_color);
}

.footer_bottom .bottom_top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 0 0 16px 0;
}

.footer_bottom .bottom_top img {
    width: 240px;
    object-fit: cover;
}

.footer_bottom .bottom_top ul {
    display: flex;
    gap: 40px;
}

.footer_bottom .bottom_top ul>li>a {
    color: var(--light_color);
}

.footer_bottom .bottom_top .bottom_icon_box {
    color: var(--light_color);
}

.footer_bottom .bottom_bottom {
    color: var(--light_color);
}