:root {
    --main_color: #009357;
    --sub_color: #424242;
    --black_color: #333333;
    --white_color: #ffffff;
    --gray_color: #dddddd;
}

* {
    color: var(--black_color);
    border: 1px solid palevioletred--;
}

/* --------#header-------- */

#header {
    line-height: 90px;
}

#header .inner {
    display: flex;
    justify-content: space-between;
}

/* --------#header 메뉴-------- */

#header .gnb>ul {
    display: flex;
    gap: 40px;
}

#header .gnb>ul>li>a {
    font-size: 18px;
    font-weight: 500;
}

#header .sub_gnb {
    display: flex;
    gap: 14px;
    align-items: center;
    line-height: 1;
}

#header .side_menu {
    display: flex;
    gap: 10px;
}

#header .side_menu>a {
    font-size: 16px;
}

#header .icon_menu {
    display: flex;
    gap: 6px;
}

#header .icon_menu span {
    font-size: 20px;
}

#header .mopen {
    display: none;
}


/* --------#content-------- */

/* --------#main_slide-------- */

.main_slide .main_slide_wrap {
    position: relative;
}

.main_slide .main_slide_wrap img {
    max-width: 100%;
    width: 100%;
    height: 480px;
}

.main_slide .search_area {
    position: absolute;
    display: flex;

    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    height: 50px;
}

.main_slide .search_select {
    position: relative;
    padding: 0 22px 0 18px;
    border: none;
    color: var(--white_color);
    font-size: 16px;
    font-weight: 500;
    /* background: var(--main_color); */
    height: 50px;
    border: 5px solid var(--main_color);

    appearance: none;
    background: var(--main_color) url(../images/search.png) no-repeat 84px center/12px;
    /* -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
}


/* #content .search_area::after {
    content: "";
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translate(0, -50%);
    height: 20px;
    width: 20px;
    background: url(../images/search.png) no-repeat;
} */

.main_slide .search_select option {
    background: var(--white_color);
    color: var(--black_color);
}


.main_slide .search_select:focus {
    outline: none;
}

.main_slide .typo {
    position: relative;
    padding: 0 20px;
    outline: none;
    border: none;
    width: 400px;
    font-size: 14px;
    border: 5px solid var(--main_color);
}

.main_slide .button {
    position: relative;

    border: none;
    color: var(--white_color);
    background: var(--main_color);
    padding: 0 20px;
    font-size: 14px;
}

.main_slide .slide_btn_box {
    position: absolute;
    bottom: -80%;
    right: -5px;
    z-index: 999;
    display: flex;
    gap: 8px;
}

.main_slide .slide_btn_box a {
    padding: 12px 20px;
    background: var(--sub_color);
    color: var(--white_color);
    font-size: 14px;
    text-align: center;
}

/* --------#main_link-------- */

.main_link .link_box {
    position: relative;
    display: flex;

    /* align-items: flex-end; */
    margin: -36px auto 0 auto;
    z-index: 999;
}

.main_link .link_box>* {
    flex: 1;
}

.main_link .link_box a {
    display: block;
    text-align: center;
    padding: 30px 0;
    background: var(--main_color);
}

.main_link .link_box a:not(:last-child) {
    border-right: 1px solid var(--gray_color);
}

.main_link .link_box .link_first {
    background: var(--sub_color);
}

.main_link .link_box a strong {
    color: var(--white_color);
    font-size: 16px;
    font-weight: 500;
}

/* --------#main_info-------- */
.main_info {
    padding: 80px 0;
}

.main_info .info_wrap {
    display: flex;
    gap: 38px;
}

.main_info .info_wrap>* {
    flex: 1;
    overflow: hidden;
}

.main_info .tit_box {
    display: flex;
    align-items: flex-end;
    margin: 0 0 12px 0;
}

.main_info .tit_box strong {
    display: block;
    font-size: 22px;
    font-weight: 600;
    margin: 0 8px 0 0;
}

.main_info .tit_box span {
    display: block;
    color: var(--sub_color);
    font-size: 14px;
}

.main_info .add_box {
    margin: 0 0 0 auto;
}

.main_info .add_box span {
    display: block;
    padding: 2px;
    border-radius: 50%;
    color: var(--sub_color);
    border: 1px solid var(--sub_color);
    font-size: 18px;
}

.main_info .info_btn_box {
    display: flex;
    gap: 8px;
    margin: 0 0 10px 0;
}

.main_info .info_btn_box>* {
    flex: 1;
}

.main_info .info_btn_box a {
    display: block;
    padding: 12px 0;
    background: var(--sub_color);
    color: var(--white_color);
    font-size: 14px;
    text-align: center;
}








.main_info .info_table_wrap {
    overflow-x: auto;
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
}

.main_info .info_left_table caption {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0);
    margin: -1px;
    overflow: hidden;
}


.main_info .info_left_table {
    width: 100%;
    /* border-collapse: collapse; */

    border-collapse: collapse;
}

.main_info .info_left_table .info_table_tit th {
    font-size: 16px;
    font-weight: 500;
    background: #f9f9f9;
}

.main_info .info_left_table td {
    border-bottom: 1px solid #ddd;
    padding: 12px 24px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.main_info .info_left_table td:not(:last-child) {
    border-right: 1px solid #ddd;
}

.main_info .info_left_table th {
    height: 40px;
    border-bottom: 1px solid #ddd;
    padding: 0 24px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
}

.main_info .info_left_table td~td {
    border-left: 1px solid #ddd;
}

.main_info .info_left_table th~th {
    border-left: 1px solid #ddd;
}